<head> 
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<style>
		#contract {
			display: none;
		}
		#kind {
			display: none;
		}
	</style>
</head>

<h1>Prism#pjob_title</h1>
<%= params.inspect %>
<hr>
<% count = 1 %>
<table class="mytables">

	<tr>
		<thead>
			<th>Count</th>
			<th>Member ID</th>
			<th>Member</th>
			<th>Job Title</th>
			<th><button id="toggleContract">Contract?</button></th>
			<th><button id="toggleKind">Kind</button></th>
			<th>Date Hired</th>
			<th>Discharge</th>
			<th>Weeks Worked</th>
		</thead>
	</tr>
	<% mwc = 0 %>
	<% @members.each do |m| %>
	<tr>
		<td><%= count %></td>
		<td><%= m.id %></td>
		<td><%= link_to "#{m.lname}, #{m.fname}", member_path(m), class: "butt round" %></td>
		<td><%= m.job_title %></td>
		<td> <% if m.contracts.first %><div class="contracts">Yes</div><% mwc += 1 %><% end %></td>
		<td>
			<% if m.contracts.first %>
				<div class="kind"><%= m.contracts.first.kind %></div>
			<% end %>
		</td>
		<td><%= m.doh %></td>
		<td><%= m.dod %></td>
		<td><%= weeks(m) %></td>
	</tr>
	<% count += 1 %>
	<% @total = count %>
	<% end %> 
</table>
<p>Members with Contracts: <%= mwc %></p>
<p>Members without Contracts: <%= (@total - 1) - mwc %></p>

<script> 
	$(document).ready(function(){
		 $("#toggleContract").click(function(){ 
		 	$(".contracts").toggle(); 
		  }); 
		});

	$(document).ready(function(){
		 $("#toggleKind").click(function(){ 
		 	$(".kind").toggle(); 
		  }); 
		});
	
</script>

