<%= params.inspect %>
<h1>Salaried Employees</h1>
<hr>
<table class="mytables">
	<tr>
		<th>Source</th>
		<th>Year</th>
		<th>Contract Type</th>
		<th>Ee Signed</th>
	</tr>
	<% @contracts.each do |c| %>
	<tr>
		<td><%= c.file.filename %></td>
		<td><%= c.year %></td>
		<td><%= c.kind %></td>
		<td><%= c.ee_signed %></td>
	</tr>
	<% end %> 
</table>