<div id="<%= dom_id employee %>">
  <p>
    <strong>Employee:</strong>
    <%= employee.employee_id %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= employee.full_name %>
  </p>

  <p>
    <strong>Job title:</strong>
    <%= employee.job_title %>
  </p>

  <p>
    <strong>Doh:</strong>
    <%= employee.doh %>
  </p>

  <p>
    <strong>Dod:</strong>
    <%= employee.dod %>
  </p>

  <p>
    <strong>Psa:</strong>
    <%= employee.psa_id %>
  </p>

</div>
