<div id="<%= dom_id contract %>">
  <p>
    <strong>Source:</strong>
    <%= contract.source %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= contract.kind %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= contract.year %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= contract.member_id %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= contract.notes %>
  </p>

  <p>
    <strong>Ee sign:</strong>
    <%= contract.ee_sign %>
  </p>

  <p>
    <strong>Ee signed:</strong>
    <%= contract.ee_signed %>
  </p>

  <p>
    <strong>Hr signed:</strong>
    <%= contract.hr_signed %>
  </p>

  <p>
    <strong>Gsm signed:</strong>
    <%= contract.gsm_signed %>
  </p>

  <p>
    <strong>Gm signed:</strong>
    <%= contract.gm_signed %>
  </p>

  <p>
    <strong>Dir op signed:</strong>
    <%= contract.dir_op_signed %>
  </p>

  <p>
    <strong>Effective date:</strong>
    <%= contract.effective_date %>
  </p>

  <p>
    <strong>Draw:</strong>
    <%= contract.draw %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= contract.salary %>
  </p>

  <p>
    <strong>Hourly:</strong>
    <%= contract.hourly %>
  </p>

  <p>
    <strong>Duplicate:</strong>
    <%= contract.duplicate %>
  </p>

</div>
