<h1>Editing contract: <%= @contract.file.filename %></h1>
<%= @contract.inspect %> 
<%= render "form", contract: @contract %>

<br>

<div>
  <%= link_to "Show this contract", @contract %> |
  <%= link_to "Back to contracts", contracts_path %>
</div>


<br>
<%= button_to "Destroy", @contract, method: :delete %>