<p style="color: green"><%= notice %></p>
<%= link_to "New contract", new_contract_path %>
<h1>Contracts</h1>

<table class="mytables">

  <tr>
    <th>Source</th>
    <th>Contract Type</th>
    <th>Member ID</th>
    <th>Employee Signed</th>
    <th>GSM Signed</th>
    <th>GM Signed</th>
    <th>HR Sighed</th>
    <th>Edit</th>
    <th>View</th>
   
  </tr>
  <% @contracts.each do |c| %>
  <tr>
    <td><%= link_to "#{c.file.filename}", url_for(c.file), class: "butt round", target: "_blank" if c.file.content_type == 'application/pdf' %></td>
    <td><%= c.kind %></td>
    <td><%= c.member_id %></td>
    <td><%= c.ee_signed %></td>
    <td><%= c.gsm_signed %></td>
    <td><%= c.gm_signed %></td>
    <td><%= c.hr_signed %></td>
    <td><%= link_to " ", edit_contract_path(c), class: "butt round" %></td>
  </tr>
  <% end %>

</table>

