<p style="color: green"><%= notice %></p>
<%= link_to "New contract", new_contract_path, class: "button round" %>
<%= link_to "Commission Contract Types", prism_com_types_path, class: "button round" %>
<%= link_to "Hr Signed", prism_hr_signed_path, class: "button round" %>
<%= link_to "Dir Operations Signed", prism_dir_op_path, class: "button round" %>  

<h1>Contracts</h1>

<table class="mytables">

  <tr>
    <thead>
    <th>Count</th>
    <th>SOURCE</th>
    <th>Year</th>
    <th>Contract Type</th>
    <th>Edit</th>
  </thead>
   
  </tr>
  <% count = 1 %>
  <% @contracts.each do |c| %>
  <tr>
    <td><%= count %></td>
    <td><%= link_to "#{c.file.filename}", url_for(c.file), class: "butt round", target: "_blank" if c.file.content_type == 'application/pdf' %></td>
    <td><%= c.year %></td>
    <td><%= link_to "#{c.kind}", prism_pkind_path(contract: c), class: "butt round" %></td>
    <td><%= link_to " ", edit_contract_path(c), class: "butt round" %></td>
  </tr>
    <% count += 1 %>
  <% end %>

</table>

