<% if current_user.admin? %>
<h1>Admin#users</h1>
<hr>

<table class="mytables">
	<% @users.each do |user| %>
	<tr>
		<td><%= user.id %></td>
		<td><%= user.name %></td>
		<td><%= user.role %></td>
		<td><%= user.status %></td>
		<td><%= link_to "Change Status", con_change_status_path(user: user) %>
	</tr>
	<% end %>
</table>
<% end %>
