<h1>Admin#users</h1>
<hr>
<table>
	<% @users.each do |user| %>
	<tr>
		<td><%= user.id %></td>
		<td><%= user.name %></td>
		<td><%= user.role %></td>
		<td><%= user.status %></td>
		<td></td>
		<td><%= link_to "Change Status", admin_toggle_status_path(user: user) %></td>
	</tr>
	<% end %>
</table>
