<h1>Exhibits#new</h1>

<%= form_with url: "create", model: @exhibit do |f| %>
	
	<div>
		<%= f.file_field :file %>
	</div><br>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
  	<%= f.label :date %>
  	<%= f.date_field :date %>
  </div>
  <div>
    <%= f.label :binder %>
    <%= f.text_field :binder %>
  </div>
  <div>
  	
  </div><br>
  <%= f.submit %>
<% end %>

