<%= form_with(model: po) do |form| %>
  <% if po.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(po.errors.count, "error") %> prohibited this po from being saved:</h2>

      <ul>
        <% po.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :documents, style: "display: block" %>
    <%= form.check_box :documents %>
  </div>

  <div>
    <%= form.label :file, style: "display: block" %>
    <%= form.file_field :file %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
