<div id="<%= dom_id fact %>">
  <p>
    <strong>Bates:</strong>
    <%= fact.bates %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= fact.source %>
  </p>

  <p>
    <strong>Page:</strong>
    <%= fact.page %>
  </p>

  <p>
    <strong>Num:</strong>
    <%= fact.num %>
  </p>

  <p>
    <strong>Lns:</strong>
    <%= fact.lns %>
  </p>

</div>
