review<br>
<table class="mytables">

	<thead>
		<tr>
			<th>name</th>
			<th>reviewed?</th>
			<th>commissed employee?</th>
			<th>valid contract</th>
			<th>EDIT</th>
		</tr>
	</thead>
	<% @members.each do |member| %>
		<tr> 
			<td><%= link_to "#{member.lname}, #{member.fname}", member_path(member), class: "butt round" %></td>
			<td><%= member.reviewed %></td>
			<td><%= member.commission %></td>
			<td><%= member.valid_contract %></td>
			<td><%= link_to " ", edit_member_path(member), class: "butt round" %></td>
		</tr>
	<% end %>

</table>