<p style="color: green"><%= notice %></p>
<%= link_to "New depo", new_depo_path %>
<%= params.inspect %><br>
<%= current_user.name %>
<h1>Depos</h1>

<table class="mytables">

    <thead> 
      <tr> 
        <th>Title</th>
        <th>Date</th>
        <th>Edit</th>
        <th>View</th>
        <th>Goto Page</th>
      </tr>
    </thead>
    <% @depos.each do |depo| %>
      <tr> 
        <td><%= depo.title %></td>
        <td><%= depo.depo_date %></td>
        <td><%= link_to " ", edit_depo_path(depo), class: "butt round" %></td>
        <td><%= link_to " ", url_for(depo.file), class: "butt round", target: "_blank" if depo.file.content_type == 'application/pdf' %></td>
        <td>
          <%= form_with url: "depos/page", target: '_blank', method: :get do |f| %>
              <%= f.number_field :page_number, id: 'input_value'  %>
              <%= f.hidden_field :depo_id, value: depo.id %>
              <%= f.submit "submit" %> 
          <% end %> 
        </td>
        <td>
          <%= link_to 'Open PDF to Page 7', rails_blob_url(depo.file, disposition: 'inline') + "#page=", target: '_blank' %>
        </td>
        
      </tr>
    <% end %>

</table>

<script> 
    const pageNum = document.getElementById("input_value");

    pageNum.addEventListener("input", function(e){

        console.log(e.data);

    }); 

  
</script>



