<div id="<%= dom_id discovery %>">
  <p>
    <strong>Kind:</strong>
    <%= discovery.kind %>
  </p>

  <p>
    <strong>Set:</strong>
    <%= discovery.set %>
  </p>

  <p>
    <strong>Verified by:</strong>
    <%= discovery.verified_by %>
  </p>

  <p>
    <strong>Response date:</strong>
    <%= discovery.response_date %>
  </p>

</div>
