<%= form_with(model: discovery) do |form| %>
  <% if discovery.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(discovery.errors.count, "error") %> prohibited this discovery from being saved:</h2>

      <ul>
        <% discovery.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div>
      <%= form.label :file, style: "display: block" %>
      <%= form.file_field :file %>
  </div>

  <div>
    <%= form.label :kind, style: "display: block" %>
    <%= form.text_field :kind %>
  </div>

  <div>
    <%= form.label :set, style: "display: block" %>
    <%= form.text_field :set %>
  </div>

  <div>
    <%= form.label :verified_by, style: "display: block" %>
    <%= form.text_field :verified_by %>
  </div>

  <div>
    <%= form.label :response_date, style: "display: block" %>
    <%= form.date_field :response_date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
