<div id="<%= dom_id review %>">
  <p>
    <strong>Discovery:</strong>
    <%= review.discovery_id %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= review.question %>
  </p>

  <p>
    <strong>Coa:</strong>
    <%= review.coa %>
  </p>

  <p>
    <strong>Issue:</strong>
    <%= review.issue %>
  </p>

  <p>
    <strong>Wswk:</strong>
    <%= review.wswk %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= review.note %>
  </p>

</div>
