<!DOCTYPE html>
<html>
  <head>
    <title>KEPPEL v. DAG V, LLC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
  
      <div class="navbar">
        <% if user_signed_in? %>
        <div class="logout">
          <%= button_to "Logout", destroy_user_session_path, method: :delete %></div>
          <div class="green-text position-right">
          <%= current_user.role %>
        </div>
    <% else %>
         
    <% end %> 
        <%= link_to image_tag('logo.PNG'), root_path %>
        

        <div class="dropdown">
          <button class="dropbtn">PAGA<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
              <%= link_to "Members", members_path, id: "btn-round" %>
              <%= link_to "Clients", pages_clients_path, id: "btn-round" %>
            </div>

         </div>

         <div class="dropdown">
             <button class="dropbtn">Contracts<i class="fa fa-caret-down"></i></button>
              <div class="dropdown-content">
                    <%= link_to "Index", contracts_path, id: "btn-round" %>
                    <%= link_to "Search", "#", id: "btn-round" %>
                    <%= link_to "Info", "#", id: "btn-round" %>
                    <%= link_to "Draw", prism_pdraw_path, id: "btn-round" %>
                    <%= link_to "Salary", prism_psalary_path, id: "btn-round" %>
              </div>
         </div>
        <%= link_to "Discovery", discoveries_path, id: "btn-round" %>
        <%= link_to "Pleadings", pleadings_path, id: "btn-round" %>
        <%= link_to "Transcripts", depos_path, id: "btn-round" %>
        <%= link_to "Exhibits", "#", id: "btn-round" %>
  
        <div class="dropdown">
              <button class="dropbtn">Admin</button>
            <div class="dropdown-content">
              <%= link_to "Exports", exports_home_path, id: "btn-round" %>
              <%= link_to "Users", admin_users_path, id: "btn-round" %>
            </div>
        </div> 



    </div>
        
        
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
