<!DOCTYPE html>
<html>
  <head>
    <title>KEPPEL v. DAG V, LLC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <div class="navbar">
        <%= link_to image_tag('logo.PNG'), root_path %>
        <%= link_to "Members", members_path, id: "btn-round" %>
         
         <div class="dropdown">
             <button class="dropbtn">Contracts<i class="fa fa-caret-down"></i></button>
              <div class="dropdown-content">
                    <%= link_to "Index", contracts_path, id: "btn-round" %>
                    <%= link_to "Search", "#", id: "btn-round" %>
                    <%= link_to "Info", "#", id: "btn-round" %>
                    <%= link_to "Draw", prism_pdraw_path, id: "btn-round" %>
                    <%= link_to "Salary", prism_psalary_path, id: "btn-round" %>
              </div>
         </div>
        <%= link_to "Discovery", discoveries_path, id: "btn-round" %>
        <%= link_to "Pleadings", pleadings_path, id: "btn-round" %>
        <%= link_to "Transcripts", depos_path, id: "btn-round" %>
        <%= link_to "Exhibits", "#", id: "btn-round" %>
  
        <div class="dropdown">
              <button class="dropbtn">Admin</button>
            <div class="dropdown-content">
              <%= link_to "Exports", exports_home_path, id: "btn-round" %>
            </div>
        </div>          
    </div>
    <%= yield %>
  </body>
</html>
