<p style="color: green"><%= notice %></p>
<% if current_user.admin? %>
  <%= link_to "New member", new_member_path %>
<% end %> 

<h2>Members</h2>

<div id="members">


 


  <table class="mytables">
    <tr>
      <thead>
        <th>Count</th>
        <th>id</th>
        <th><%= link_to "Name", :sort => "lname" %></th>
        <th>PSA ID</th>
        <th>Employee List ID</th>
        <th>Job Title</th>
        <th><%= link_to "Hire Date", :sort => "doh" %></th>
        <th>Discharge</th>
        <th>Total Weeks</th>
        <th>1st Contract</th>
        <th>Contract after hire(Weeks)</th>
        <th>Edit</th>
        <th>View</th>
       </thead>
    </tr>
    <tr>
      <% count = 1 %>
  <% @members.each do |member| %>
      <td><%= count %></td>
      <td><%= member.id %>
      <td><%= link_to "#{member.full_name}", member_path(member), class: "butt round" %></td>
      <td><%= member.psa_id %></td>
      <td><%= member.employee_list_id %></td>
      <td><%= link_to "#{member.job_title}", prism_pjob_title_path(member: member), class: "butt round" %></td>
      <td><%= link_to "#{member.doh}", prism_phire_path(member: member), class: "butt round" %></td>
      <td><%= member.dod %></td>
      <td><%= get_weeks(member) %></td>
      <td><%= get_first_contract(member) %></td>
      <td><%= contract_days_after_hiring(member) %></td>
      <td><%= link_to " ", edit_member_path(member), class: "butt round" %></td>
      <td><%= link_to " ", prism_mcontracts_path(member: member), class: "butt round" %></td>
      
    </tr>
    <% count += 1 %>
  <% end %>
</table>


</div>

<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
