<p style="color: green"><%= notice %></p>
<%= @member.misplace_contract.inspect %>
<%= render @member %>

<div>
  <%= link_to "Edit this member", edit_member_path(@member) %> |
  <%= link_to "Back to members", members_path %>

  <%= button_to "Destroy this member", @member, method: :delete %>
</div>

<hr>

<table class="mytables">
  <tr>
    <th>Source</th>
    <th>SOURCE</th>
    <th>S3   = </th>
    <th>Year</th>
    <th>Contract Type</th>
     <th>Ee Doh</th>
    <th>Ee Signed</th>
   
    <th>Notes</th>
    <th>misplaced</th>
  </tr>
  <% @mcontracts.each do |mc| %>
  <tr>
    <td><%= mc.source %></td>
    <td><%= get_contract(mc.source) %></td>
    <td><%= link_to "open", get_contract(mc.source) %></td>
    <td><%= link_to "#{mc.file.filename}", url_for(mc.file), class: "butt round", target: "_blank" if mc.file.content_type == 'application/pdf' %></td>
    <td><%= mc.year %></td>
    <td><%= mc.kind %></td>
    <td><%= @member.doh %></td>
    <td><%= mc.ee_signed %></td>
    
    <td><%= mc.notes %></td>
    <td><%= @member.misplace_contract.inspect %></td>
  <% end %>
  </tr>
</table>

