<p style="color: green"><%= notice %></p>

<%= render @member %>

<div>
  <%= link_to "Edit this member", edit_member_path(@member) %> |
  <%= link_to "Back to members", members_path %>

  <%= button_to "Destroy this member", @member, method: :delete %>
</div>
<hr> 
<%= params.inspect %>
<hr>

<table class="mytables">
  <tr>
    <th>Source</th>
    <th>Year</th>
    <th>Contract Type</th>
     <th>Ee Doh</th>
    <th>Ee Signed</th>
   
    <th>Notes</th>
  </tr>
  <% @mcontracts.each do |mc| %>
  <tr>
    <td><%= mc.file.filename %></td>
    <td><%= mc.year %></td>
    <td><%= mc.kind %></td>
    <td><%= @member.doh %></td>
    <td><%= mc.ee_signed %></td>
    
    <td><%= mc.notes %></td>
  <% end %>
  </tr>
</table>

